/* CSS Document created by Lirik for Gnoblin company - Fucking Awesome Blockchain Games. Ukraine, 2018*/


/*========================THE=MAIN=PAGE================================*/


body {
	background-color: white;
	width: auto;
	
}

nav{
	top: 0%; /* Иначе будет отступ сверху */
	position: fixed; 
    left: 1; bottom: 1; /* Левый верхний угол */
    padding: 10px; 
    background: white; /* Цвет фона, иначе будет прозрачным */
    color: black; /* Цвет текста */
    width: 100%;
	height: 100px; 
	z-index:200; /* индекс "приближения" шапки к нам, чтоб была над пустым дивом */
}

nav > h3{
	
	float: left;
	font-family: "Abril Fatface";
	font-size: 45px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-left: 50px;
}

nav > h6 {
	clear: both;
	font-family: Lora;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-left: 50px;
	margin-bottom: 2%;
}

.menu {
	float: right;
	vertical-align: middle;
	font-family: "Abril Fatface";
	font-weight: bold;
	padding-right: 50px;
	
	
}

 .menu li {
	list-style: none;
	display: inline; 
	padding-right: 50px;
	 position: relative;
	 
}

.logo > a {
	text-decoration: none;
	color: black;
}

.play_button {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.play_button:hover {
	transition: background-color 1s linear;
	border: 1px solid red;
	border-radius: 10px;
	background-color: red;
	color: white;
}


.menu > li > ul {
	position: absolute;
	display:none;  
	margin-left: 290px;
	
}

.menu a {
	text-decoration: none;
	color: black;
	font-style: bold;
}

.menu > li:hover > ul {
        display:block;  
    }

nav > hr {
	clear: both;
}

.head-empty {
	height: 83px;
	top:0%;
}

.promo-box1 {
	width: 100%;
	height: 600px;
	background-color: lightgrey;
	background-image: url(../img/1.jpg);
	background-attachment:fixed;
	background-size: cover; /* Для масштабирования картинки на всю ширину дива*/
	background-position: center center;
    background-repeat: no-repeat;
	color: black;
	text-align: center;
	
}

.promo-box1 > h1 {
	position: relative;  /* Для выравнивания по центру блока*/
    top: 40%;            /* Для выравнивания по центру блока*/
	font-size: 70px;
}

.promo-box1 > h3 {
	font-size: 30px;
	position: relative;  /* Для выравнивания по центру блока*/
    top: 30%;            /* Для выравнивания по центру блока*/
	clear: both;
}

.caption {
	text-align: center;
	font-family: "Arial Black";
	vertical-align: middle;
}


.column-left {
	float: left;
	width: 50%;
	text-align: center;
}

.column-right {
	float: right;
	width: 50%;
	text-align: center;
}

.column-caption {
	color: black;
	font-family: "Abril Fatface";
	font-weight: bold;
}

.column-describe {
	color: black;
	font-family: Lora;
	font-style: italic;
}


.promo-box2 {
	clear: both;
	width: 100%;
	height: 600px;
	background-color: lightgrey;
	background-image: url(../img/2.jpg);
	background-attachment:fixed;
	background-position: center center;
	background-size: cover;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
}


.promo-box2 > h1 {
	position: relative;  /* Для выравнивания по центру блока*/
    top: 40%;            /* Для выравнивания по центру блока*/

	font-size: 70px;
	margin: 0;
	-webkit-text-stroke: 1px black; /* Тень текста */
}

.promo-box2 > h3 {
	font-size: 40px;
	position: relative;
	top: 45%;

	clear: both;
	margin: 0;
	-webkit-text-stroke: 1px black;  /* Тень текста */
}



.footer {
	clear: both;
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0px; /* Поля вокруг текста */
	padding-left: 10px;
    background: white; /* Цвет фона, иначе будет прозрачным */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	font-family: Lora;
	font-size: 13px;
	text-align: center;
}



/*========================THE=FAQ=PAGE================================*/

.faq-box {
	width: 300%;
	height: 300px;
	background-color: lightgrey;
	background-image: url(../img/faq.jpg);
	background-attachment:fixed;
	background-position: center center;
	background-size: cover;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
	position: relative;
	text-align: center;
}

.faq-box > h1 {
	position: relative;  /* Для выравнивания по центру блока*/
    top: 40%;            /* Для выравнивания по центру блока*/
	left: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 70px;
	margin: 0;
	-webkit-text-stroke: 1px black; /* Тень текста */
	position: absolute;
}

/*--------------------------------Аккордеон----------------------------*/
.ac-container{
	width: 100%px;
	margin: 10px auto 30px auto;
}

.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: black;
	line-height: 33px;
	font-weight: bold;
	font-size: 19px;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover{
	background: black;
	color: white;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: gray;
	color: black;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container input{
	display: none;
}

.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container article p{
	font-style: italic;
	color: black;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

 /* Для разных по величине полей ответов */
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

/*--------------------------------Конец аккордеона----------------------------*/