body{
	background-color: #1b2838;
	width: 100%;
	align-items: center;
}

p {
	color: #dfdfdf;
	text-decoration: none;
	
}

h1 {
	color:#ffffff;
}

.body-container {
	margin-left: 10px;
	margin-right: 10px;
}

.downlBtn {		/* Кнопка загрузки стима в меню*/
	background:#5c7e10;
	color: #ffffff;	
	border:0px;
	margin:5px;
}

.nav_table {	/* Блок верхнего меню*/
	display : inline-table;
	background-color : #171a21;
	width : 100%;
	height: 80px;
	border-collapse: collapse;
	width: 100%;
}

.nav-row {		/* Основная строка верхнего меню*/
	display: table-row;
	width: 100%;
	height: auto;
}

.nav_cell-1 {	/* Ячейка лого стим в хедере*/
	display: table-cell;
	width: 20%;
	vertical-align: middle;
	padding-left: 100px;
	height: 80px;
}

.nav_cell-2 {	/* Список меню в хедере*/
	display: table-cell;
	width: 60%;
	height: auto;
	vertical-align: middle;
}

.nav_cell-3 {	/* Блок с кнопкой и войти*/
	display: table-cell;
	width: 20%;
	vertical-align: top;
	height: inherit;
	
}

.nav_menu {		/* Блок со списком меню*/
	margin: 0;
  	padding: 0;
  	height: inherit;
	
}

.unsign {
	display: inline;
	text-decoration: none;
	color: #dfdfdf;  
	padding-right: 5px;
}

.hlist
{
	display: inline;
	position: relative;
}
.shop, .community, .about, .support
{
	position: relative;
	font-size: 20px;
}

.nav_submenu_shop, .nav_submenu_community		/* Блок с выпадающим главным субменю*/
{	
	display: none;
	position: absolute;
	list-style: none;
	background: #171a21;
	padding:10px;
	font-size: 12px;
}

.nav_submenu a 		/*Стиль ссылок подменю*/
{ 
	text-decoration: none;
}
.nav_submenu p 		/*Стиль ссылок подменю*/
{ 
	font-size: 12px;
}


.nav_menu>.shop:hover .nav_submenu_shop /*Появление подменю*/
{ 
	display: block;	
	
}

.nav_menu>.community:hover .nav_submenu_community /*Появление подменю*/
{ 
	display: block;	
	
}

.main_container /*Поле с отступами на котором расположено все остальное*/
{	
	display:flex;
	flex-direction: row;
	height: inherit;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:100px;
	margin-right: 100px;
}

.carousel-container /*Контейнер для карусели, во избежание нестыковок позишнов среди обьектов*/
{
	position: relative; 
	width: 600px; 
	height: 300px;
	margin: 0;
	padding: 0;
}

.carousel-1 	/*Первый сверху слайдер*/
{
	width:100%; 
	height: 100%; 
	position: absolute;
}

.carousel-img{
	width:100%;
	height: 100%; 
	position: relative;
}

.left			/*блоки для стрелок слайдеров*/
{
	width:10%;
	height: 100%; 
	position: absolute; 
	top:0; 
	cursor: pointer;	
}

.right			/*блоки для стрелок слайдеров*/
{
	width:10%;
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
}


.caruosel_arrow /*стрелки слайдеров*/
{
	position: absolute; 
	width: 100%; 
	margin: auto; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0;
}


.left-menu		/*Блок всего левого меню*/
{ 
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 10px;
	
}

.left-menu-item 	/*Отдельные элементы левого меню*/
{ 
	margin: 2px;
}

.left-menu-item p 	/*абзац левого меню*/
{
	margin-bottom: 0px;
	margin-top: 15px;
	padding: 0px;	
	font: 14px normal;
	color: darkgray;
}

.left-menu-item a
{
	border: 0;
	padding: 0;
	font: 14px normal;
	font: 14px normal;
	color: #66c0f4;
}
.left-menu-item a:hover
{
	text-decoration: none;
	color:white;
	
}

.main_content {		/*абзац окна-контента*/
	display: inline-flex; 
	flex-direction: column;
	
}

.main_content_item	/*Основные элементы главного окна (второй столб)*/
{
	position: relative;
	margin: 5px;
	
}

.whishlist			/* Кнопка списка желаний*/
{
	
	width:150px;
	height: 20px;
	background-color: #76a1aa;
	border:0; 
	padding: 0;
	margin: 0;
}

.whishlist p
{
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.whishlist :hover
{
	background-color: #FFFFFF;
	color: black;
}
	

.shop_menu	/*Контейнер с меню магазом*/
{
	display: inline-flex;
	flex-direction: row;
	color: white;
	width:inherit;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	align-items: stretch;
	
	
}

.shop_menu_name  		/*Контейнер с меню магазом*/
{
	border: 1px solid black;
	background-color: rgba(43,85,115,0.75);
	margin: 0;
	padding: 5px;
	background-color: #2b5573;
}

.shop_menu a
{
	text-decoration: none;
	color: white;
	vertical-align: middle;
	margin: 0;
}

.game_search_box
{
	border: 1px solid black;
	vertical-align: middle;
	background-color: #316282;
}

#search_game_field
{

	border: none;
	outline: none;
	background-color: #316282;
	height: 10px;
}

.content_area_name
{
	display:flex;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	height: 20px;
	flex-direction: row;
	justify-content: space-between;
	
}

.area_name
{
	
	text-decoration: none;
	color:white;
	align-self: flex-start;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.more		/*Кнопка "Просмотреть все" и другие*/
{
	
	text-decoration: none;
	color: white;
	font-size: 15px;
	border: 1px solid white;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	align-self: flex-end;
	
	
	}

