body{
	background-color: #1b2838;
	width: 100%;
	align-items: center;
}

p {
	color: #dfdfdf;
}

h1 {
	color:#ffffff;
}

.downlBtn {		/* Кнопка загрузки стима в меню*/
	background:#5c7e10;
	color: #ffffff;	
	border:0px;
	margin:5px;
}

.nav_table {	/* Блок верхнего меню*/
	display : inline-table;
	background-color : #171a21;
	width : 100%;
	height: 80px;
	border-collapse: collapse;
	width: 100%;
}

.nav-row {		/* Основная строка верхнего меню*/
	display: table-row;
	width: 100%;
	height: auto;
}

.nav_cell-1 {	/* Ячейка лого стим в хедере*/
	display: table-cell;
	width: 20%;
	vertical-align: middle;
	padding-left: 100px;
	height: 80px;
}

.nav_cell-2 {	/* Список меню в хедере*/
	display: table-cell;
	width: 60%;
	height: auto;
	vertical-align: middle;
}

.nav_cell-3 {	/* Блок с кнопкой и войти*/
	display: table-cell;
	width: 20%;
	vertical-align: top;
	height: inherit;
}

.nav_menu {		/* Блок со списком меню*/
	margin: 0;
  	padding: 0;
  	height: inherit;
	position: relative;
}
.unsign {
	display: inline;
	
	text-decoration: none;
}

.nav_submenu{	/* Блок с выпадающим главным субменю*/
	display: none;
	list-style: none;
	position: absolute;
	background: #171a21;
	padding:10px;
}

.nav_submenu a {
	text-decoration: none;
}
.nav_submenu p {
	font-size: 12px;
}

.nav_menu:hover .nav_submenu{
	display: block;	
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-radius: 5px;
}

.main_container {
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:100px;
	margin-right: 100px;
}

.table-2 {
	display:table;
	width: 100%;
	height: 600px;
	border:5px solid black;
	padding: 0;
	margin: 0;
	position: relative;
}

.row {
	display: table-row;
	display: inline;
	margin: 0;
	
}

.row-2-1{
	border-bottom: 2px solid black;
	
}

.cell-2-1
{
	margin-right: 5px;
}

.cell-2-1:hover{
	background-color: darkcyan;
	
}

.cell {
	 
	display:table-cell;
	display:inline;
}

.cell_active {
	background: #0d121a;
	border-top: 1px solid #67c1f5;
	border-left: 1px solid #67c1f5;
	border-right: 1px solid #67c1f5;
}

.big-cell {
	display: table-cell;
	width:600px;
	border: 1px solid;
	height: inherit;
}

.table-2-right
{
	position: absolute;
	width: 300px;
	height: inherit;
	text-align: right;
}

.table-2-menu-bottom li
{
	display: inline; 
	margin: 5px;
	float: left;
}
